<style>
  .content {
    max-width: 500px;
  }
  .table-margin {
    margin: 16px;
  }
</style>

<div class="content" role="main">
  <h3>{{title}}</h3>
  <form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
      <label for="text" class="sr-only">Password</label>
      <input class="form-control" id="text" placeholder="text" #todoText>
    </div>
    <button type="submit" class="btn btn-primary mb-2" (click)="addItem(todoText.value)">
      Add
    </button>
  </form>
  <table class="table table-striped table-bordered table-margin">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Done</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of getTodoItems(); let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <label [htmlFor]="i + 1">
            {{ item.text }}
          </label>
        </td>
        <td>
          <label>
            <input type="checkbox" [(ngModel)]="item.isDone" [id]="i + 1"/>
          </label>
        </td>
        <td>
          <button type="submit" class="btn btn-primary mb-2" (click)=" deleteItem(item.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


